<button color="primary" (click)="login()" *ngIf="!isUserAuthenticated">
  Login
</button>

<button color="primary" (click)="logout()" *ngIf="isUserAuthenticated">
  Logout
</button>

<div *ngIf="isUserAuthenticated">
<!-- 
  <button color="primary" (click)="fetchNIC()" *ngIf="isUserAuthenticated">
    View NIC info
  </button> -->

  <pre>
    {{ userInfo | json }}
</pre>

<button color="primary" (click)="fetchNIC()" *ngIf="isUserAuthenticated">
  Get NIC info
</button>

<pre>
  {{ nicData | json }}
</pre>

  <!-- <section>
    <div class="container-fluid h-custom">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
          <div class="formGroup">
            <input type="text" class="formControl" placeholder="Personal detail name" #personalDetailName required>
            <input type="text" class="formControl" placeholder="Personal detail value" #personalDetailValue required>
          </div>
          <div class="text-center mt-4 pt-2">
            <button type="submit" color="primary" class="btn btn-primary btn-lg btn-block"
              (click)="addNICValue(personalDetailName.value, personalDetailValue.value)">
              Add data
            </button>
          </div>
        </div>
      </div>
    </div>
  </section> -->

</div>